<!DOCTYPE html>
<html>
<head>
	<title>Sadlly removing students</title>
</head>
<body>
	<form action="/graduated_student" method="POST">
	<input type="text" name="name" placeholder="Name">
	<button type="submit">Farewell to graduated student</button>
	</form>
</body>
</html>