.container {
    position: relative;
    margin: auto;
    width: 40%;
}

.hat{/*hat*/
    
    position: absolute;
   
    z-index: 1;
    margin-top: -80px;
    margin-left: 127px;
}

.glasses{/*glasses*/
   
    position: absolute;

    z-index: 1;
    margin-top:100px;
    margin-left: 194px;
}


.octopus{/*body*/
	
    margin-left: 150px;
    margin-top: 29%;
  
}


