.container {
    position: relative;
}

.imageOne{/*hat*/
    display: block;
    position: absolute;
    width: 40%;	 
    z-index: 1;
    margin-top: -60px;
    margin-left: 435px;
}

.imageTwo {/*glasses*/
    display: block;
    position: absolute;
    width: 40%; 
    z-index: 1;
    margin-top:100px;
    margin-left: 500px;
}


.imageThree {
	display: block;
    margin-left: 460px;
    margin-top: 80px;
    width: 40%;   
}


